.divImgBottom {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 767px) {

    .satelite {
        max-width: 13rem;
    }

    .imgBottom {
        max-width: 8rem;
    }
    .foguete{
        max-width: 13rem;
    }
    .aurora {
       display: none;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .satelite {
        max-width: 30rem;
    }

    .imgBottom {
        max-width: 20rem;
    }
    .foguete{
        max-width: 30rem; 
    }

    .aurora {
        max-width: 26rem;
    }

}

@media only screen and (min-width: 1024px) {
    .satelite {
        max-width: 40rem;
    }

    .imgBottom {
        max-width: 30rem;
    }

    .foguete {
        max-width: 40rem;
    }
    .aurora {
        max-width: 30rem;
    }
}