:root{
  --background-body: #2E3A51;
  --titulos: #FFFFFF;
  --background-menu: #235982;
  --titulo-projeto: #32639C;
  --cinza-escuro: #282c34;
  --background-card: #E8E8E8;
  --cinza-medio: #5c636b;
  --laranjado: #f4541c;
  --mostarda:  #fcbc1c;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-body);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
